
.search{

    &_input {
        padding: 5px 10px;
        margin-right: 10px;
    }
    &_submit {
        padding: 7px 10px;
        background-color: #0066cc;
        color: #ffffff;
        transition-property: background-color;
        transition-duration: 1s;
        border: 1px solid #0066cc;
        cursor: pointer;

        &:hover {
            background-color: transparent;
        }
    }
}


.results_total{
    text-align: right;
    width: 75%;
    margin: 15px auto;
}

.warning {
    color: orangered;
    font-size: 12px;
}
.result {
    width: 75%;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #0066cc;

    &_top {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &_name {
        padding: 10px 0;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
    }

    &_avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 15px;
    }

}

.pagination {
    margin: 25px auto;

    button {
        margin: 0 10px;
        background-color: #0066cc; 
        border: 1px solid #0066cc;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 1s;


        &.selected {
            background-color: transparent;
           
        }

        &:hover {
            background-color: transparent;
            
        }
    }
}

.userPanel {
    background-color: rgba(0,0,0,.2);
    text-align: left;
    padding: 15px 30px;
    margin-top: 15px;

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_link {
        color: #fff;
        text-decoration: none;
    }
}